

article {
	float: left;
	width: 67%;
	height: 300px;
	background-color: pink;
	text-align: center;
	color: white;
}

section {
	height: 35%;
	margin-top: 20px;
	background-color: brown;
	text-align: center;
	color: white;
}

aside {
	float: right;
	width: 33%;
	height: 300px;
	background-color: cyan;
	text-align: center;
	color: white;
}

footer {
	height: 30px;
	clear: both;
	background-color: green;
	color: white;
	text-align: center;
}